* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  
  body {
    background-color: #000000;
  }
  
  .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    /*   min-height: 20vh; */
    transition: 0.5s;
    background-color: #000000;
    margin-top: 100px;
    flex-shrink: 0;
  }
  
  .rodape .redes {
    position: relative;
    display: flex;
  }
  
  .rodape .redes li {
    list-style: none;
  }
  
  .rodape .redes li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
  }
  
  .rodape .redes li:hover::before {
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 150px));
  }
  
  .rodape .redes li a {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    transition: background 0.25s;
  }
  
  .js-tilt-glare {
    border-radius: 10px;
  }
  
  .rodape .redes li a:hover.facebook {
    background: #1877f2;
  }
  
  .rodape .redes li a:hover.instagram {
    background: #e4405f;
  }
  
  .rodape .redes li a:hover.twitter {
    background: #0099ff;
  }
  
  .rodape .redes li a:hover.youtube {
    background: #ff0000;
  }
  
  .rodape .redes li a:hover.linkedin {
    background: #0e76a8;
  }
  
  .rodape .redes li a:hover.githube {
    background: #171515;
  }
  
  .rodape .redes li a:hover.codepen {
    background: #1877f2;
  }
  
  .rodape .redes li a .fa {
    transition: 0.25s;
    pointer-events: none;
  }
  
  .rodape .redes li a:hover .fa {
    color: #fff;
    transform: scale(1.75) translatez(50px);
  }
  